*{
    color: black;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    margin-bottom: 13%;
}

.header {
    width: auto;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

img {
    width:20%;
}

.buscador p {
    margin: 0%;
}

#menu {
    position:fixed;
}

ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 37px;
    text-decoration: none;
    background-color: #333;
}

li a:hover {
    background-color: black;
}

#container-nav {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 7%;
    z-index: 0;
}

.track {
    display: flex;    
}

.detalle {
    text-align: left;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.detalle p,
.detalle strong{
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#detalle-track {
    margin-bottom: 20%;
}

.track {
    text-decoration: none;
    /*border: solid;*/
}

.track:hover {
    background-color: grey;
}

.track .strong {
    margin: 10%;
}

.imagen-track {
    width: 15%;
    float: left;
    margin: 2%;
}

form input[type="submit"]:hover,
form input[type="button"]:hover,
button:hover {
    background-color: #04dc54;
}

.map { 
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 5px #888;
}